.img-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
img{
    width: 200px;
    height: 100px;
}
.centrar-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
form{
    text-align: center;
    border: solid black 1px;
}